<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gerardo Sandoval</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/mycss.css">
  </head>
  <body class="flex-shrink-0">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %} "> DSKUS Foreign Aid</a>
    </nav>
    <br><br><br>


<!-- Intro -->

<div class="jumbotron">
  <div class="container text-left">
    <h1 class="display-4">Our Goal</h1>
    <div class="row">
      <div class="col-md-6">
        <p class="lead">
          Partnering to provide responsible, well-targeted development assistance around the world,
especially in Southeast Asia and Latin America. How and where should foreign aid be targeted
to return the biggest benefits.
        </p>
      </div>
    </div>
  </div>

<!-- Start of expanding Menus -->
<hr class="my-4">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
          data-target="#classification" aria-expanded="false" aria-controls="collapseOne"
          style="color:grey">
            Where and how to assign foreign aid
          </button>
        </h2>
      </div>
      <div id="classification" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!-- Classification div-->
          <p>
          <!-- Start of Classification div here -->
          <div class="card mb-3" style="max-width: 840px;">
            <div class="row g-0">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Korea Based Classification</h5>
                  <form action="{% url 'selected_country' %}">
                    Please select a country to classify
                    <select name="Country">
                      {% for country in Countries %}
                      <option value='{{country}}'>{{country}}</option>
                      {% endfor %}
                      <!-- value="<something>" is the value given to the variable -->
                    </select>
                    <!-- This is to create a button, the type makes is a submit one -->
                    <br>
                    <br>
                    <input type="submit" value="Classify" class="btn btn-primary">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- end of classification drop down -->
<!-- START of TIME SERIES SECTION -->
<div class="card">
  <div class="card-header" id="headingTwo">
    <h2 class="mb-0">
      <!-- This button has data-target whis is later used to identify what it triggers -->
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
      data-target="#timeseries" aria-expanded="false" aria-controls="collapseTwo"
      style="color:grey">
        Measuring Impact of Foreign Aid
      </button>
    </h2>
  </div>
<!-- Start of time series dropdown content -->
  <div id="timeseries" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
    <div class="container">
    <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Time Series Model</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
          <h2>E-Ticket System</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
    <!-- End of Time series content -->
    </div>
  </div>
  </div>
</div>
<!-- End of Time series Section -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
